/t9.filtering.tar.gz
/reuters21578.tar.gz
/20news-19997.tar.gz
/20_newsgroups/
/20news-bydate-test/
/20news-bydate-train/
/ohsu-trec/
/Rcv1/
/20news-bydate.tar.gz
/venv/
/Testing/
/Tests.py
/Commands reference
/SMART stop words
/text-data/
